<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.attend.mapper.UserMapper">
<!--    <insert id="insert" useGeneratedKeys="true" keyProperty="id">-->
<!--        insert into user (openid, avatar, nick_name,create_time)-->
<!--        values (#{openid}, #{avatar},#{nickName}, #{createTime})-->
<!--    </insert>-->
    <update id="update" parameterType="com.attend.dto.user.UserUpdateDTO">
        update users
        <trim prefix="SET " suffixOverrides=",">
            <if test="nickName != null">
                nick_name = #{nickName},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="telephone != null">
                telephone = #{telephone},
            </if>
        </trim>
        where id = #{id}
    </update>
</mapper>
